@tailwind base;
@tailwind components;
@tailwind utilities;

#chanh-header {
  @apply block lg:hidden;
}

#chanh-sider {
  @apply hidden lg:flex lg:justify-center
  !w-96 !max-w-96 !basis-auto p-8
  text-chanh-secondary;
}

html,
body,
.chanh-layout-wrapper {
  height: 100dvh;
  @apply !bg-chanh-secondary !font-sans text-base;
}

#chanh-content-wrapper__outer {
  scrollbar-gutter: stable;
  @apply h-full overflow-y-auto lg:flex lg:items-center;
}

#chanh-content-wrapper {
  @apply p-8 max-w-[1080px] w-full;
}

table {
  @apply bg-chanh-secondary;
}

.ant-collapse-content-box,
.ant-collapse,
.ant-table-cell {
  @apply !px-0 !bg-chanh-secondary;
}

.ant-collapse-header {
  @apply !items-center;
}

.ant-divider {
  @apply !border-chanh-emphasize;
}

p,
span,
a {
  @apply !font-normal text-lg text-chanh-primary;
}

h1,
h2 {
  @apply !font-bold !font-serif text-chanh-emphasize;
}

h1 {
  @apply !text-2xl;
}

h2 {
  @apply !text-xl;
}

::-webkit-scrollbar,
scrollbar {
  @apply bg-chanh-emphasize-200 w-1 lg:w-3.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-chanh-emphasize hover:bg-chanh-emphasize-700;
}

.chanh-nav {
  @apply h-[100vh] !bg-chanh-emphasize;
}

.chanh-nav__links-wrapper {
  @apply py-8;
}

.chanh-nav__links {
  text-decoration: none;
  @apply block py-2 px-3 rounded-2xl
  hover:bg-chanh-emphasize-400 focus:bg-chanh-emphasize-400
  text-3xl text-center text-chanh-secondary hover:text-chanh-secondary focus:text-chanh-secondary;
}

.avatar-and-social {
  @apply text-center;
}

.avatar-and-social__avatar {
  @apply border-chanh-secondary border-8 rounded-full;
}

.avatar-and-social__name {
  @apply !text-2xl text-chanh-secondary;
}

.avatar-and-social__social {
  @apply flex justify-center gap-2;
}

.avatar-and-social__social__icon {
  @apply cursor-pointer text-4xl 
  border border-chanh-secondary 
  bg-chanh-secondary hover:bg-chanh-emphasize-200
  text-chanh-emphasize hover:text-chanh-emphasize-700;
}

.social-icon--wrapper:focus {
  @apply !outline-chanh-emphasize-300 !outline-2 h-full;
}

.social-icon--wrapper:focus .avatar-and-social__social__icon {
  @apply bg-chanh-emphasize-200 text-chanh-emphasize-700;
}

.chanh-table thead {
  @apply hidden;
}

.chanh-table .ant-table-cell {
  @apply !p-2 lg:!p-4;
}

.chanh-table tr {
  @apply bg-chanh-secondary;
}

.chanh-table tr:hover td {
  @apply !bg-chanh-emphasize-50;
}

.publications-table table,
.publications-table tbody,
.publications-table tr,
.publications-table td {
  @apply block;
}

.updates-table .ant-table-cell {
  @apply first:!pl-0 last:!pr-0;
}

a.chanh-link {
  @apply text-chanh-primary underline hover:text-chanh-emphasize-600 focus:text-chanh-emphasize-600;
}

.chanh-detail-modal {
  @apply !max-w-[1080px] !w-[90%] lg:!w-full overflow-hidden;
}

.chanh-detail-modal .ant-modal-confirm-title {
  @apply pr-7;
}

.chanh-detail-modal .ant-modal-confirm-paragraph {
  @apply max-h-[80dvh];
}

.chanh-detail-modal .ant-modal-confirm-paragraph .ant-modal-confirm-content {
  @apply overflow-y-auto pr-1.5 lg:pr-4;
}

.chanh-detail-modal__line,
.chanh-detail-modal__thumbnail {
  @apply block pb-4;
}

.chanh-detail-modal__thumbnail {
  @apply block w-full;
}
